.home-page {
  #carouselTop {
    .carousel-indicators {
      place-items: center;

      button {
        width: 16px;
        height: 16px;
        background: linear-gradient(180deg, #E8EEFF 0%, #CFD6EB 100%);
        border: none;
        border-radius: 50%;
        opacity: 1;
        // transition: 0.3s;

        &.active {
          width: 25px;
          height: 25px;
          background-image: url(../images/home/home-slider-active-dot.svg);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .carousel-inner {}
  }

  &__notification {
    background: rgba(60, 70, 99, 0.8);

    .container {
      display: flex;
      place-items: center;
      gap: 15px;
      padding: 15px 0;

      img {
        max-height: 20px;
      }

      .text-animated {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;

        .text-overflow {
          word-wrap: none;
          position: relative;
        }
      }
    }
  }

  &__right-button {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    place-content: center;
    place-items: flex-end;
    flex-direction: column;
    width: 90px;

    a {
      transition: 0.5s;
      width: 70px;
      max-height: 80px;
      background: #FFFFFF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 10px 0px 0px 10px;
      padding: 5px;
      margin-bottom: 7px;
      display: flex;
      place-content: center;
      place-items: center;
      flex-direction: column;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #597EF7;

      img {
        max-width: 38px;
      }

      &:hover {
        background: linear-gradient(90deg, #8EA9FF 0%, #678BFF 32.29%, #557BF7 100%);
        width: 90px;
        color: #FFFFFF;
      }
    }
  }

  &__content {
    background-image: url(../images/home/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
      display: flex;
      place-content: center;
      place-items: center;
      margin-bottom: 15px;

      span {
        font-family: 'Aldo the Apache';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 16px;
        text-align: center;
        color: #597EF7;
        position: relative;
        display: flex;
        place-content: center;
        place-items: center;
        min-width: 185px;

        &::after {
          position: absolute;
          width: 150px;
          height: 25px;
          left: -90%;
          content: "";
          background-image: url(../images/home/games_title1.png);
        }

        &::before {
          position: absolute;
          width: 150px;
          height: 25px;
          right: -90%;
          content: "";
          background-image: url(../images/home/games_title2.png);
        }
      }
    }

    .subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #597EF7;
    }

    &__why_choose_us {
      margin-bottom: 100px;

      .title {
        margin-top: 100px;
      }

      &__content {
        text-align: center;
        margin-top: 30px;

        .row {
          margin-left: -8px;
          margin-right: -8px;

          &>div {
            padding-left: 8px;
            padding-right: 8px;

            .item {
              background-image: url(../images/home/why-choose-us/bg.png);
              background-repeat: no-repeat;
              background-size: contain;
              padding: 30px;
              min-height: 340px;
              height: 100%;

              .title {
                margin: 30px 0 15px;
                font-family: 'Aldo the Apache';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 32px;
                text-align: center;
                text-transform: uppercase;
                color: #424B6A;
              }

              .description {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #424B6E;
              }

              .img {
                height: 130px;

                img {
                  max-width: 130px;
                }
              }

              @media only screen and (max-width: 1150px) {
                padding: 20px 20px;

                .title {
                  font-size: 28px;
                  line-height: 32px;
                }

                .description {
                  font-size: 14px;
                  line-height: 20px;
                }

                .img {
                  height: 100px;

                  img {
                    max-width: 100px;
                  }
                }
              }
            }

          }
        }
      }
    }

    &__exciting_game {
      position: relative;
      text-align: center;
      margin-top: 30px;

      &__content {
        padding-top: 10px;

        #carouselExcitingGame {
          display: flex;
          place-content: flex-start;
          place-items: flex-start;

          .carousel-indicators {
            position: initial !important;
            background-image: url(../images/home/exciting-game/left-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 235px;
            margin: 0;
            flex-direction: column;
            padding: 30px 15px;

            button {
              width: auto;
              height: auto;
              text-indent: initial;
              margin: 10px 0;
              position: relative;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: 200px;
              min-height: 70px;
              background-image: url(../images/home/exciting-game/bg.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-color: transparent;
              border: none;
              opacity: 1;

              &:hover {
                opacity: 0.7;
              }

              span {
                margin-right: 50px;
                font-weight: 400;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: #515B7C;
              }

              img {
                position: absolute;
                right: 15px;
                max-width: 50px;
                max-height: 50px;

                &.default {
                  display: block;
                }

                &.focus {
                  display: none;
                }
              }

              &.active {
                background-image: url(../images/home/exciting-game/bg-active.png);

                span {
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 20px;
                  text-align: center;
                  color: #FFFFFF;
                }

                img {
                  &.default {
                    display: none;
                  }

                  &.focus {
                    display: block;
                  }
                }
              }
            }
          }

          .carousel-inner {
            .carousel-item {
              &>img {
                padding: 0 15px;
              }

              .button-group {
                margin-top: 5px;
                display: flex;
                place-content: center;
                place-items: center;
                flex-wrap: wrap;
                gap: 10px;
                min-height: 100px;

                .btn {
                  min-width: 200px;
                  min-height: 65px;
                  background-image: url(../images/home/exciting-game/bg-active.png);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  background-color: transparent;
                  border: none;

                  font-weight: 600;
                  font-size: 24px;
                  line-height: 24px;
                  text-align: center;
                  color: #FFFFFF;

                  &[data-i18n="home-page.EXCITING_GAMES_slider.HABANERO"] {
                    font-size: 20px;
                  }

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
            }
          }
        }
      }

    }

    &__fc {
      padding: 50px 0;

      .container {
        .row {
          margin-left: -15px;
          margin-right: -15px;
        }
      }
    }
  }
}