<nav class="my-navbar__main navbar fixed-top navbar-expand-lg">
  <div class="my-navbar__main__container container">
    <a class="navbar-brand" href="/">
      <img src="assets/images/navbar-logo.png" />
    </a>
    <ul class="navbar-nav nav-left">
      <li class="nav-item">
        <a class="nav-link @@if (context.active == 1) {active}" href="/" data-i18n="navbar.Home"></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 2) {active}" href="/sports.html" data-i18n="navbar.SPORTS"></a>
        <div class="dropdown-menu mymenu">
          <div class="row mymenu__container sports">
            <div class="col mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/sports-1.png" />
              </div>
              <div class="mymenu__container__item__text">
                <span data-i18n="official_img"></span>
                <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title1"></div>
                <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description1"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
            <div class="col mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/sports-2.png" />
              </div>
              <div class="mymenu__container__item__text">
                <span class="opacity-0" data-i18n="official_img"></span>
                <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title2"></div>
                <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description2"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
            <div class="col mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/sports-3.png" />
              </div>
              <div class="mymenu__container__item__text">
                <span class="opacity-0" data-i18n="official_img"></span>
                <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title3"></div>
                <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description3"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
            <div class="col-2 mymenu__container__item SPORTS_EVENT">
              <div>
                <div class="title" data-i18n="navbar.SPORTS_DROPROWN.SPORTS_EVENT_title"></div>
                <div class="description" data-i18n="navbar.SPORTS_DROPROWN.SPORTS_EVENT_desciption"></div>
                <div class="percent">
                  <span>1.18</span>
                  <span>%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 3) {active}" href="/live-casino.html" data-i18n="navbar.LIVE_CASINO"></a>
        <div class="dropdown-menu mymenu">
          <div class="mymenu__container live-casino">
            <div class="row">
              <div class="col mymenu__container__item">
                <img src="assets/images/navbar/live-casino-1.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="assets/images/navbar/live-casino-2.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="assets/images/navbar/live-casino-3.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="assets/images/navbar/live-casino-4.png" />
              </div>
              <div class="col-1"></div>
            </div>
            <div class="row">
              <div class="col-1"></div>
              <div class="col mymenu__container__item second-col">
                <img src="assets/images/navbar/live-casino-5.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="assets/images/navbar/live-casino-6.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="assets/images/navbar/live-casino-7.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="assets/images/navbar/live-casino-8.png" />
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 4) {active}" href="/slots.html" data-i18n="navbar.SLOTS"></a>
        <div class="dropdown-menu mymenu">
          <div class="row mymenu__container live-casino">
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/slots-1.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/slots-2.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/slots-3.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/slots-4.png" />
            </div>
            <div class="col-1"></div>
            <div class="col-12"></div>
            <div class="col-1"></div>
            <div class="col mymenu__container__item second-col">
              <img src="assets/images/navbar/slots-5.png" />
            </div>
            <div class="col mymenu__container__item second-col">
              <img src="assets/images/navbar/slots-6.png" />
            </div>
            <div class="col mymenu__container__item second-col">
              <img src="assets/images/navbar/slots-7.png" />
            </div>
            <div class="col mymenu__container__item second-col">
              <img src="assets/images/navbar/slots-8.png" />
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 5) {active}" href="/fishing.html" data-i18n="navbar.FISHING"></a>
        <div class="dropdown-menu mymenu">
          <div class="row mymenu__container container m-auto fishing">
            <div class="col mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/fishing-1.png" />
              </div>
              <div class="mymenu__container__item__text">
                <span data-i18n="fishing_hight_return_img"></span>
                <span data-i18n="official_img"></span>
                <div class="title" data-i18n="navbar.FIRSHING_DROPROWN.title1"></div>
                <div class="description" data-i18n="navbar.FIRSHING_DROPROWN.description1"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
            <div class="col mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/fishing-2.png" />
              </div>
              <div class="mymenu__container__item__text">
                <span class="opacity-0" data-i18n="official_img"></span>
                <div class="title" data-i18n="navbar.FIRSHING_DROPROWN.title2"></div>
                <div class="description" data-i18n="navbar.FIRSHING_DROPROWN.description2"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 6) {active}" href="/e-sports.html" data-i18n="navbar.E_SPORTS"></a>
        <div class="dropdown-menu mymenu">
          <div class="row mymenu__container e-sports">
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/e-sports-1.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/e-sports-2.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/e-sports-3.png" />
            </div>
            <div class="col mymenu__container__item">
              <img src="assets/images/navbar/e-sports-4.png" />
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link @@if (context.active == 7) {active}" href="/lottery.html" data-i18n="navbar.LOTTERY"></a>
        <div class="dropdown-menu mymenu">
          <div class="row mymenu__container container lottery">
            <div class="col-7 mymenu__container__item">
              <div class="mymenu__container__item__img">
                <img src="assets/images/navbar/lottery-1.png" />
              </div>
              <div class="mymenu__container__item__text">
                <div class="title" data-i18n="navbar.LOTTERY_DROPROWN.title1"></div>
                <div class="description" data-i18n="navbar.LOTTERY_DROPROWN.description1"></div>
                <a class="play-now" href="javascript:void(0)">
                  <span data-i18n="play_now_img"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav nav-right ms-auto">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0)">
          <div class="nav-link-img">
            <img src="assets/icons/navbar/cutomer-service.svg" />
          </div>
          <div data-i18n="navbar.Customer_Service"></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/promotion.html">
          <div class="nav-link-img">
            <img src="assets/icons/navbar/promotion.svg" />
          </div>
          <div data-i18n="navbar.Promotion"></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sponsor-juventus.html">
          <div class="nav-link-img">
            <img src="assets/icons/navbar/sponsor.svg" />
          </div>
          <div data-i18n="navbar.Sponsor"></div>
        </a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="/vip-detail.html"> -->
        <a class="nav-link" href="/vip-privilege-details.html">
          <div class="nav-link-img">
            <img src="assets/icons/navbar/vip.svg" />
          </div>
          <div data-i18n="navbar.VIP"></div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#selectLanguage">
          <div class="nav-link-img">
            <img id="flagLanguage" src="assets/icons/navbar/language.png" />
          </div>
          <div id="countryNameLanguage" data-i18n="navbar.Malaysia"></div>
        </a>
      </li>
    </ul>
  </div>
</nav>