<footer class="footer">
  <div class="footer__container container">
    <div class="footer__container__partner">
      <img src="assets/images/footer/1.png" />
      <img src="assets/images/footer/2.png" />
      <img src="assets/images/footer/3.png" />
      <img src="assets/images/footer/4.png" />
      <img src="assets/images/footer/5.png" />
      <img src="assets/images/footer/6.png" />
      <img src="assets/images/footer/7.png" />
      <img src="assets/images/footer/8.png" />
      <img src="assets/images/footer/9.png" />
      <img src="assets/images/footer/10.png" />
      <img src="assets/images/footer/11.png" />
      <img src="assets/images/footer/12.png" />
      <img src="assets/images/footer/13.png" />
      <img src="assets/images/footer/14.png" />
      <img src="assets/images/footer/15.png" />
      <img src="assets/images/footer/16.png" />
      <img src="assets/images/footer/17.png" />
      <img src="assets/images/footer/18.png" />
      <img src="assets/images/footer/19.png" />
    </div>
    <div class="footer__container__about" data-i18n="footer.description"></div>
    <div class="row justify-content-center ms-0 me-0">
      <div class="col-8 text-center">
        <div class="footer__container__certification ">
          <div class="footer__container__certification__item">
            <div class="footer__container__certification__item__img">
              <img src="assets/images/footer/20.png" />
            </div>
            <div class="footer__container__certification__item__text" data-i18n="footer.certification1"></div>
          </div>
          <div class="footer__container__certification__item">
            <div class="footer__container__certification__item__img">
              <img src="assets/images/footer/21.png" />
            </div>
            <div class="footer__container__certification__item__text" data-i18n="footer.certification2"></div>
          </div>
          <div class="footer__container__certification__item">
            <div class="footer__container__certification__item__img">
              <img src="assets/images/footer/22.png" />
            </div>
            <div class="footer__container__certification__item__text" data-i18n="footer.certification3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__container__nav">
      <div class="footer__container__nav__items">
        <a href="/help/" class="footer__container__nav__items__link" data-i18n="footer.Help_Center"></a>
      </div>
      <!-- <div class="vr"></div>
      <div class="footer__container__nav__items">
        <a href="javascript:void(0)" class="footer__container__nav__items__link" data-i18n="footer.About_Us"></a>
      </div> -->
      <div class="vr"></div>
      <div class="footer__container__nav__items">
        <a href="/help/contact-us.html" class="footer__container__nav__items__link" data-i18n="footer.Contact_Us"></a>
      </div>
      <div class="vr"></div>
      <div class="footer__container__nav__items">
        <a href="/sponsor-juventus.html" class="footer__container__nav__items__link" data-i18n="footer.Sponsor"></a>
      </div>
      <div class="vr"></div>
      <div class="footer__container__nav__items">
        <a href="/referral-program.html" class="footer__container__nav__items__link" data-i18n="footer.Referral_Programme"></a>
      </div>
    </div>
    <div class="footer__container__copyright" data-i18n="footer.copyright"></div>
  </div>
</footer>